In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("proj2.ipynb")

# Project 2: Query Performance
## Due Date: Wednesday, March 5, 5:00 PM

## Assignment Details
In this project, we will explore how the database system optimizes query execution and how users can further tune the performance of their queries.

This project works with the [Lahman's Baseball Database](http://seanlahman.com/), an open source collection of baseball statistics from 1871 to 2020. It contains a variety of data, like batting statistics, team stats, managerial records, Hall of Fame records, and much more.

You may find this project's queries to be simpler than in Project 1. However, although the queries may not be as complex, we still expect you to spend ample time thinking through the effects of each of the methods, as reasoning about the tradeoff between different approaches is the goal of this assignment.

**Note:** If at any point during the project, the internal state of the database or its tables have been modified in an undesirable way (i.e. a modification not resulting from the instructions of a question), restart your kernel and clear output and simply re-run the notebook as normal. This will shutdown your current connection to the database, which will prevent the issue of multiple connections to the database at any given point, and when re-running the notebook you will create a fresh database based on the provided Postgres dump.

## Logistics & Scoring Breakdown

- Each coding question has **both public tests and hidden tests**. Roughly 50% of your coding grade will be made up of your score on the public tests released to you, while the remaining 50% will be made up of unreleased hidden tests.
- Public tests for multiple choice questions are for sanity check only (e.g. you are answering in the correct format). Partial credit will be awarded.
- Free-response questions will be manually graded. Please answer thoughtfully and concisely in complete sentences, drawing from knowledge in lectures and from your inspection of query plans.

This is an **individual project**. However, you’re welcome to collaborate with any other student in the class as long as it’s within the academic honesty guidelines.

**Please see this [spreadsheet](https://docs.google.com/spreadsheets/d/1UPcOGt4gQwHRm1i6pEDlpjNe-1iT-r_-t5IYRYW7YpQ/edit?usp=sharing) for the points breakdown.**

In [2]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

## Getting Connected
Similar to Project 1, we will be using the `JupySQL` library to connect this notebook to a PostgreSQL database server on your JupyterHub account. Run the following cell to initiate the connection.

In [3]:
%reload_ext sql
%sql postgresql://jovyan@127.0.0.1:5432/postgres

Connecting to 'postgresql://jovyan@127.0.0.1:5432/postgres'

In [4]:
# See full display
%config SqlMagic.displaylimit = 50

## Setting up the Database
The following cell will create the `baseball` database (if needed), unzip the Postgres dump of the Lahman's Baseball Database, populate the `baseball` database with the desired tables and data, and finally display all databases associated with the Postgres instance. After running the cell, you should see the `baseball` database in the generated list of databases outputted by `%sql \l`.

**Note:** If you run into the **role does not exist**/**database does not exist** error the first time you run this cell, feel free to ignore it. It does not affect data import.

In [5]:
!unzip -u data/baseball.zip -d data/

unzip:  cannot find or open data/baseball.zip, data/baseball.zip.zip or data/baseball.zip.ZIP.

In [6]:
!psql postgresql://jovyan@127.0.0.1:5432/baseball -c 'SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname = current_database()  AND pid <> pg_backend_pid();'
!psql -h localhost -c 'DROP DATABASE IF EXISTS baseball'
!psql -h localhost -c 'CREATE DATABASE baseball'
!psql -h localhost -d baseball -f ../../../_shared/data101-readonly/proj2_data/baseball.sql
!psql -h localhost -c 'SET max_parallel_workers_per_gather = 0;'

 pg_terminate_backend
----------------------
(0 rows)

DROP DATABASE
CREATE DATABASE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 5219
COPY 104256
COPY 179
COPY 6236
COPY 425
COPY 6879
COPY 104324
COPY 13943
COPY 17350
COPY 138838
COPY 12028
COPY 31955
COPY 13110
COPY 4191
COPY 3040
COPY 3469
COPY 93
COPY 252
COPY 19370
COPY 45806
COPY 5445
COPY 26428
COPY 1207
COPY 325
COPY 2865
COPY 120
COPY 52
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
SET

In [7]:
%sql \l baseball

Running query in 'postgresql://jovyan@127.0.0.1:5432/postgres'

+----------+--------+----------+------------+------------+-------------------+
|   Name   | Owner  | Encoding |  Collate   |   Ctype    | Access privileges |
+----------+--------+----------+------------+------------+-------------------+
| baseball | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
+----------+--------+----------+------------+------------+-------------------+

Now, run the following cell to connect to the `baseball` database. There should be no errors after running the following cell.

In [8]:
%sql postgresql://jovyan@127.0.0.1:5432/baseball

Connecting and switching to connection 'postgresql://jovyan@127.0.0.1:5432/baseball'

To ensure that the connection to the database has been established, let's try grabbing the first 5 rows from the `hall_of_fame` table.

In [9]:
%%sql
SELECT * FROM hall_of_fame LIMIT 5;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

5 rows affected.

+-----------+---------+----------+---------+--------+-------+----------+----------+-------------+
| player_id | year_id | voted_by | ballots | needed | votes | inducted | category | needed_note |
+-----------+---------+----------+---------+--------+-------+----------+----------+-------------+
|  cobbty01 |   1936  |  BBWAA   |   226   |  170   |  222  |    Y     |  Player  |     None    |
|  ruthba01 |   1936  |  BBWAA   |   226   |  170   |  215  |    Y     |  Player  |     None    |
| wagneho01 |   1936  |  BBWAA   |   226   |  170   |  215  |    Y     |  Player  |     None    |
| mathech01 |   1936  |  BBWAA   |   226   |  170   |  205  |    Y     |  Player  |     None    |
| johnswa01 |   1936  |  BBWAA   |   226   |  170   |  189  |    Y     |  Player  |     None    |
+-----------+---------+----------+---------+--------+-------+----------+----------+-------------+

## Connect to the grader

Run the following cell for grading purposes.

In [10]:
# Just run the following cell, no further action is needed.
from data101_utils import GradingUtil
grading_util = GradingUtil("proj2")
grading_util.prepare_autograder()

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Table Descriptions

In its entirety the [Lahman's Baseball Database](http://seanlahman.com/) contains 27 tables containing a variety of statistics for players, teams, games, schools, etc. For simplicity, this project will focus on a subset of the tables:

* `appearances`: details on the positions each player appeared at
* `batting`: batting statistics for each player
* `college_playing`: list of players and the colleges they attended
* `hall_of_fame`: Hall of Fame voting data
* `people`: player information (name, date of birth, and biographical info)
* `salaries`: player salary data
* `schools`: list of colleges that players attended

As a reminder from Project 1, the psql command `\d <table_name>` is helpful for identifying the schema of a table.

We **highly** encourage you open a Terminal in JupyterLab and connect to the database directly.

```sh
psql -h localhost -d baseball
```

...will drop you in a SQL interpreter. Remember you can use `\?` for help!


You may wish to review:
* The [Assignment Tips Guide](https://data101.org/sp25/assignment-tips/)
* The [Course Notes SQL Style Guide](https://data101.org/notes/appendix/sql-style.html)

For example the command below allows you to view the schema of the `people` table:

In [11]:
!psql -h localhost -d baseball -c '\d people';

                                  Table "public.people"
    Column     |          Type          | Collation | Nullable |         Default
---------------+------------------------+-----------+----------+-------------------------
 player_id     | character varying(10)  |           | not null | NULL::character varying
 birth_year    | integer                |           |          |
 birth_month   | integer                |           |          |
 birthday      | integer                |           |          |
 birth_country | character varying(50)  |           |          | NULL::character varying
 birth_state   | character varying(50)  |           |          | NULL::character varying
 birth_city    | character varying(50)  |           |          | NULL::character varying
 death_year    | integer                |           |          |
 death_month   | integer                |           |          |
 death_day     | integer                |           |          |
 death_country | character varying(50)  |           |          | NULL::character varying
 death_state   | character varying(50)  |           |          | NULL::character varying
 death_city    | character varying(50)  |           |          | NULL::character varying
 name_first    | character varying(50)  |           |          | NULL::character varying
 name_last     | character varying(50)  |           |          | NULL::character varying
 name_given    | character varying(255) |           |          | NULL::character varying
 weight        | integer                |           |          |
 height        | double precision       |           |          |
 bats          | character varying(1)   |           |          | NULL::character varying
 throws        | character varying(1)   |           |          | NULL::character varying
 debut         | character varying(10)  |           |          | NULL::character varying
 final_game    | character varying(10)  |           |          | NULL::character varying
 retro_id      | character varying(9)   |           |          | NULL::character varying
 bbref_id      | character varying(9)   |           |          | NULL::character varying
Indexes:
    "master_pkey" PRIMARY KEY, btree (player_id)

## A Bit About Baseball

Intricate knowledge of baseball, baseball history, etc. is **not** required for this project. But a basic understanding of the game can be useful. If you'd like, you can check out the [Wikipedia entry for Major League Baseball](https://en.wikipedia.org/wiki/Major_League_Baseball). In practice, we'd encourage you to avoid coming to conclusions nor doing deep analysis with datasets where you don't have the full context, but for this assignment, the details of the sport are not the goal.

You can also read more about the [Baseball Hall of Fame](https://en.wikipedia.org/wiki/List_of_members_of_the_Baseball_Hall_of_Fame). Baseball players who excel in the sport can be inducted into the Hall of Fame.

Baseball, since its inception in the late 19th century, has had an incredible track record of keeping very detailed statistics about even minor aspects of the game. This makes it a fun study for a budding (or well-experienced) data scientist.

**The Briefest of Background:**
The game of baseball is played over 9 innings, between an 'offense' (a batter, and folks running around the bases) and 'defense' (a pitcher, catcher, basemen, and others). The objective, like most sportsball games, is to score the most points -- in this case, by the batter hitting the ball, and running around the bases. 
In each game, both the offense an defense have a chance to bat, where players get an "at bat" (`ab`) in the database. Each 'at bat' results in the player hitting a home run (and scoring), getting "on base" (where they can later try to run to home plate), or getting "out". After the offense gets 3 outs, their turn to score is over until the next inning. (There are many more rules than these... but that's enough to make sense of the data.)

### A Bit About the Database

To be quite honest, the schema of this database isn't our favorite. It is full of abbreivated column names, mixing data types, and seldom enforces primary or foreign key relationships. The horrors!! Nevertheless, real life ain't perfect, so we'll continue to learn how to explore and get comfortable with unknown schemas. A few general tips:

* While foreign keys aren't enforced anything with an `_id` will have consistent values. (i.e. You can treat these like primary or foreign keys on tables.)
* `year_id` is called an "id", but it is merely the calendar year in which an event occured.
* Many of the game related attributes are ruthlessly abbreviated:
    * `ab` is for _at bats_
    * `g_` is for _game..._
    * `hof` is for _hall of fame_
    * Other examples (you don't need to know these, but may come across them):
    * `lg` is for _league_
    * `gp` is games played
    * `1b`, `2b`, `3b`, `hb` refer to 1st, 2nd, 3rd and home base
* In the hall of fame table `inducted` is a string value where `Y` means true
     * ...but of course, you know that this really ought to be a boolean... 

Optionally: There is a [handy guide to an R package](https://cran.r-project.org/web/packages/Lahman/Lahman.pdf) of the Lahman Basebase db. Some of the table and column names are styled slightly differently, but this may provide additional context.

---

## Navigating the Notebook

This notebook is very long! We **highly recommend using the table of contents feature** by clicking on the button with 3 dots and lines on the left sidebar.

<br><br>
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 0: PostgreSQL Explain Analyze

<div class="alert alert-block alert-danger">
Please read through this section carefully, as a vast majority of the project will require you to inspect query plans via interpreting the output of the <code>EXPLAIN ANALYZE</code> command.
</div>

Read through the following articles to see how you can interpret the output of `EXPLAIN ANALYZE`:

1. Everything before "Tools to interpret `EXPLAIN ANALYZE` output" in [this article](https://www.cybertec-postgresql.com/en/how-to-interpret-postgresql-explain-analyze-output/)
2. PostgreSQL [documentation 14.1.2](https://www.postgresql.org/docs/current/using-explain.html#USING-EXPLAIN-ANALYZE)

<div class="alert alert-block alert-info">    
<b>Here are some key things to note for all question parts:</b>
<ul>
<li>When we ask you to identify the <b>query cost</b>, we are looking for the <b>total cost</b>.</li>
    <ul>
    <li>There are two cost values: the first is the <b>startup cost</b> (cost to return the first row) and the second is the <b>total cost</b> (cost to return all rows).</li>
    <li>The unit for the estimated query cost is an arbitrary estimation of disk I/O (1 is the cost for reading an 8kB page during a sequential scan).</li>
        <li>Feel free to round the query cost / time to the nearest integer, but we'll accept anything more exact.</li>
    </ul>
<li>When we ask you to identify the <b>query time</b>, we are looking for the <b>execution time</b> (in ms).</li>
    <ul>
        <li>We recognize that the execution time may vary between different cell executions, so the autograder will tolerate a reasonable range.</li>
    </ul>
</ul>
</div>

Now, inspect the query plan above by following the below steps:

1. Run the query below (it's the same one from the screenshot).

In [12]:
%%sql --save query_0 result_0 <<
SELECT *
FROM people AS p
INNER JOIN college_playing AS cp
ON p.player_id = cp.player_id;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

2. Run the below cell to cache the query and view the first 3 rows.

In [13]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_0 = %sqlcmd snippets query_0
grading_util.save_results("result_0", query_0, result_0);
result_0.DataFrame().head(3)

,player_id,birth_year,birth_month,birthday,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,height,bats,throws,debut,final_game,retro_id,bbref_id,player_id,school_id,year_id
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003

3. Run the below cell to `EXPLAIN ANALYZE` the saved query. **For this entire project when running `EXPLAIN ANALYZE`, you may ignore the "unsupported syntax" error message if it appears.**

In [14]:
!psql -h localhost -d baseball -c 'EXPLAIN ANALYZE {query_0}'

                                                                           QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------------------------
 Merge Join  (cost=0.57..3636.67 rows=17350 width=1788) (actual time=0.056..17.995 rows=17350 loops=1)
   Merge Cond: ((p.player_id)::text = (cp.player_id)::text)
   ->  Index Scan using master_pkey on people p  (cost=0.29..2298.84 rows=19370 width=1698) (actual time=0.020..3.630 rows=19368 loops=1)
   ->  Index Only Scan using college_playing_pkey on college_playing cp  (cost=0.29..1072.54 rows=17350 width=90) (actual time=0.031..4.308 rows=17350 loops=1)
         Heap Fetches: 17350
 Planning Time: 0.558 ms
 Execution Time: 18.643 ms
(7 rows)

4. Finally, record the **cost** and **time** for the sample query. For all questions within this project, we will accept a range of values for your query costs and query timings.

In [15]:
sample_query_cost = 1193.88
sample_query_timing = 15.024

In [16]:
grader.check("q0")

q0 results: All test cases passed!

<br/><br/>
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 1: Queries and Views, Part 1

In Questions 1 and 2, you will compare and contrast writing queries with subqueries and views.

## Question 1a
Write a query that finds `people.name_first`, `people.name_last`, `people.player_id` and `hall_of_fame.year_id` of all people who were successfully inducted into the Hall of Fame.

**Note**: Your query should **NOT** use any sub-queries. This is what your table header should look like:

| name_first | name_last | player_id | year_id |
| --- | --- | --- | --- |

In [17]:
%%sql --save query_1a result_1a <<
SELECT p.name_first, p.name_last, p.player_id, h.year_id
FROM people as p 
INNER JOIN hall_of_fame as h 
ON p.player_id = h.player_id 
WHERE h.inducted = 'Y'
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

323 rows affected.

In [18]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_1a = %sqlcmd snippets query_1a
grading_util.save_results("result_1a", query_1a, result_1a)
result_1a.DataFrame().head(3)

  name_first name_last  player_id  year_id
0         Ty      Cobb   cobbty01     1936
1       Babe      Ruth   ruthba01     1936
2      Honus    Wagner  wagneho01     1936

In [19]:
grader.check("q1a")

q1a results: All test cases passed!

<br><br>

---

## Question 1b
In this question, we will compare the query you wrote in Question 1a against the provided query below in Question 1bi by inspecting both query plans.

### Question 1bi
Inspect the query plan for `provided_query` and the query you wrote in Question 1a by running the cells below.

(Note: The semicolon strip in the `EXPLAIN ANALYZE` cell is to avoid executing an empty query with double-semicolons, which causes an error).

In [20]:
%%sql --save provided_query provided_result <<
-- just run this cell
SELECT name_first, name_last, p.player_id, year_id
FROM people AS p,
(
  SELECT * FROM hall_of_fame WHERE inducted = 'Y'
) AS hof
WHERE p.player_id = hof.player_id;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

323 rows affected.

In [21]:
# just run this cell
provided_query = %sqlcmd snippets provided_query
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {provided_query}"

                                                           QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..262.79 rows=21 width=278) (actual time=0.049..2.055 rows=323 loops=1)
   ->  Seq Scan on hall_of_fame  (cost=0.00..96.39 rows=21 width=42) (actual time=0.016..0.541 rows=323 loops=1)
         Filter: ((inducted)::text = 'Y'::text)
         Rows Removed by Filter: 3868
   ->  Index Scan using master_pkey on people p  (cost=0.29..7.92 rows=1 width=274) (actual time=0.004..0.004 rows=1 loops=323)
         Index Cond: ((player_id)::text = (hall_of_fame.player_id)::text)
 Planning Time: 0.518 ms
 Execution Time: 2.116 ms
(8 rows)

In [22]:
# just run this cell
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_1a}"

                                                           QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..262.79 rows=21 width=278) (actual time=0.104..2.099 rows=323 loops=1)
   ->  Seq Scan on hall_of_fame h  (cost=0.00..96.39 rows=21 width=42) (actual time=0.034..0.546 rows=323 loops=1)
         Filter: ((inducted)::text = 'Y'::text)
         Rows Removed by Filter: 3868
   ->  Index Scan using master_pkey on people p  (cost=0.29..7.92 rows=1 width=274) (actual time=0.004..0.004 rows=1 loops=323)
         Index Cond: ((player_id)::text = (h.player_id)::text)
 Planning Time: 0.550 ms
 Execution Time: 2.217 ms
(8 rows)

Record the **execution time** and **cost** for each query. Due to the fickle nature of query execution, please run `EXPLAIN ANALYZE` **multiple times** until the query plan converges to a consistent plan.

In [23]:
provided_query_cost = 959.06
provided_query_timing = 8.486
your_query_cost = 956.06
your_query_timing = 8.456

In [24]:
grader.check("q1bi")

q1bi results: All test cases passed!


### Question 1bii

Given your findings from inspecting the query plans of the two queries, consider the following statements.

**Assign the variable `q1bii` to a list of _ALL_ of the below statements that are true.**


Consider the following statements:
<br>
A. Both the queries have the same cost.
<br>
B. The provided query has a faster execution time because it makes use of a subquery.
<br>
C. The query you wrote has a faster execution time because it does not make use a subquery.
<br>
D. The provided query has less cost because it makes use of a subquery.
<br>
E. The query you wrote has less cost because it does not make use a subquery.
<br>
F. The queries have the same output.
<br>
G. The queries do not have the same output.
    
**Note:** Your answer should have the format like this if you think A and B are both true: `q1bii = ['A', 'B']`. The autograder is **case sensitive** but order should not matter.

In [25]:
q1bii = ['A','F']

In [26]:
grader.check("q1bii")

q1bii results: All test cases passed!

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


# Question 2: Queries and Views, Part 2

In this question, you will continue analyzing queries with/without views and materialized views.

<br/><br/>

---

## Question 2a

Write a query that returns the people who were successfully inducted into the Hall of Fame and played in college at a school located in California. For each player, return their `name_first`, `name_last`, `player_id`, `school_id`, and `year_id`. Order by the `year_id` (ascending) and break ties on `player_id` (ascending). This is what your table header should look like:

| name_first | name_last | player_id | school_id | year_id |
| --- | --- | --- | --- | --- |

**Note**: 
- **Do NOT use any views, materialized views, CTEs, or subqueries**
- For this query, `year_id` refers to player's year of induction into the Hall of Fame.
- For the baseball fanatics, FYI this dataset does not include *all* hall of fame inductees in existence and may be missing some. However, this should not affect your result; please query from the tables as given.

In [27]:
%%sql --save query_2a result_2a <<
SELECT p.name_first, p.name_last, p.player_id, cp.school_id, h.year_id
FROM people as P 
INNER JOIN hall_of_fame AS h ON p.player_id = h.player_id 
INNER JOIN college_playing AS cp ON p.player_id = cp.player_id 
INNER JOIN schools AS s ON cp.school_id = s.school_id
WHERE h.inducted = 'Y' AND s.school_state = 'CA'
ORDER BY h.year_id ASC, p.player_id ASC
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

In [28]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2a = %sqlcmd snippets query_2a
grading_util.save_results("result_2a", query_2a, result_2a)
result_2a

+------------+-----------+-----------+------------+---------+
| name_first | name_last | player_id | school_id  | year_id |
+------------+-----------+-----------+------------+---------+
|   Jackie   |  Robinson | robinja02 |    ucla    |   1962  |
|   Harry    |   Hooper  | hoopeha01 | stmarysca  |   1971  |
|    Joe     |   Morgan  | morgajo02 |  camerri   |   1990  |
|    Tom     |   Seaver  | seaveto01 |    usc     |   1992  |
|    Tom     |   Seaver  | seaveto01 |  cafrecc   |   1992  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Dick    |  Williams | willidi02 |  capasad   |   2008  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Pat     |  Gillick  | gillipa99 |  calavco   |   2011  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
+------------+-----------+-----------+------------+---------+

In [29]:
grader.check("q2a")

q2a results: All test cases passed!

<br/><br/>

---

## Question 2 Tutorial

We are now going to use the query you wrote in the previous part to generate a view, called `inducted_hof_ca`, and a materialized view, `inducted_hof_ca_mat`.

Run the below cells. You do not need to do anything more for this part.

In [30]:
%%sql
/* just run this cell */
DROP VIEW IF EXISTS inducted_hof_ca;
CREATE VIEW inducted_hof_ca AS {{query_2a.strip(';')}};

SELECT * FROM inducted_hof_ca;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

+------------+-----------+-----------+------------+---------+
| name_first | name_last | player_id | school_id  | year_id |
+------------+-----------+-----------+------------+---------+
|   Jackie   |  Robinson | robinja02 |    ucla    |   1962  |
|   Harry    |   Hooper  | hoopeha01 | stmarysca  |   1971  |
|    Joe     |   Morgan  | morgajo02 |  camerri   |   1990  |
|    Tom     |   Seaver  | seaveto01 |    usc     |   1992  |
|    Tom     |   Seaver  | seaveto01 |  cafrecc   |   1992  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Dick    |  Williams | willidi02 |  capasad   |   2008  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|    Pat     |  Gillick  | gillipa99 |  calavco   |   2011  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
+------------+-----------+-----------+------------+---------+

In [31]:
%%sql
/* just run this cell */
DROP MATERIALIZED VIEW IF EXISTS inducted_hof_ca_mat;
CREATE MATERIALIZED VIEW inducted_hof_ca_mat AS {{query_2a.strip(';')}};

SELECT * FROM inducted_hof_ca_mat;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

23 rows affected.

+------------+-----------+-----------+------------+---------+
| name_first | name_last | player_id | school_id  | year_id |
+------------+-----------+-----------+------------+---------+
|   Jackie   |  Robinson | robinja02 |    ucla    |   1962  |
|   Harry    |   Hooper  | hoopeha01 | stmarysca  |   1971  |
|    Joe     |   Morgan  | morgajo02 |  camerri   |   1990  |
|    Tom     |   Seaver  | seaveto01 |    usc     |   1992  |
|    Tom     |   Seaver  | seaveto01 |  cafrecc   |   1992  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|   Ozzie    |   Smith   | smithoz01 |  calpoly   |   2002  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Tony    |   Gwynn   | gwynnto01 | sandiegost |   2007  |
|    Dick    |  Williams | willidi02 |  capasad   |   2008  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Doug    |   Harvey  | harvedo99 | sandiegost |   2010  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|    Pat     |  Gillick  | gillipa99 |    usc     |   2011  |
|    Pat     |  Gillick  | gillipa99 |  calavco   |   2011  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Randy    |  Johnson  | johnsra05 |    usc     |   2015  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
|   Trevor   |  Hoffman  | hoffmtr01 |  cacypre   |   2018  |
+------------+-----------+-----------+------------+---------+

<br/><br/>

---
## Question 2b

For this question, we want to compute the count of players who were inducted into the Hall of Fame and played baseball at a college in California for each `school_id` and `year_id` combination ordered by ascending `year_id`.

You should write three queries that accomplish this task, but with different strategies:
* Question 2bi: Use the `inducted_hof_ca` view;
* Question 2bii Use the `inducted_hof_ca_mat` view; and
* Question 2biii: **Do not use `inducted_hof_ca` view, `inducted_hof_ca_mat` materialized view, any common table expressions (CTEs), nor any subqueries.**

For all subparts in Q2b, your table header should look like this:

| school_id | year_id | count |
| --- | --- | ---|

### Question 2bi

Write a query to accomplish the task above using the `inducted_hof_ca` view.

In [32]:
%%sql --save query_2bi result_2bi <<
SELECT 
    school_id,
    year_id, 
    COUNT(player_id) AS count
FROM inducted_hof_ca
GROUP BY school_id, year_id 
ORDER BY year_id ASC, school_id ASC
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [33]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2bi = %sqlcmd snippets query_2bi
grading_util.save_results("result_2bi", query_2bi, result_2bi)
result_2bi

+------------+---------+-------+
| school_id  | year_id | count |
+------------+---------+-------+
|    ucla    |   1962  |   1   |
| stmarysca  |   1971  |   1   |
|  camerri   |   1990  |   1   |
|  cafrecc   |   1992  |   1   |
|    usc     |   1992  |   1   |
|  calpoly   |   2002  |   4   |
| sandiegost |   2007  |   3   |
|  capasad   |   2008  |   1   |
| sandiegost |   2010  |   2   |
|  calavco   |   2011  |   1   |
|    usc     |   2011  |   2   |
|    usc     |   2015  |   3   |
|  cacypre   |   2018  |   2   |
+------------+---------+-------+

In [34]:
grader.check("q2bi")

q2bi results: All test cases passed!

<br/><br/>

### Question 2bii

Now, write the query a second time using the materialized view `inducted_hof_ca_mat`.

In [35]:
%%sql --save query_2bii result_2bii <<
SELECT 
    school_id,
    year_id, 
    COUNT(player_id) AS count
FROM inducted_hof_ca_mat
GROUP BY school_id, year_id 
ORDER BY year_id ASC, school_id ASC
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [36]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2bii = %sqlcmd snippets query_2bii
grading_util.save_results("result_2bii", query_2bii, result_2bii)
result_2bii

+------------+---------+-------+
| school_id  | year_id | count |
+------------+---------+-------+
|    ucla    |   1962  |   1   |
| stmarysca  |   1971  |   1   |
|  camerri   |   1990  |   1   |
|  cafrecc   |   1992  |   1   |
|    usc     |   1992  |   1   |
|  calpoly   |   2002  |   4   |
| sandiegost |   2007  |   3   |
|  capasad   |   2008  |   1   |
| sandiegost |   2010  |   2   |
|  calavco   |   2011  |   1   |
|    usc     |   2011  |   2   |
|    usc     |   2015  |   3   |
|  cacypre   |   2018  |   2   |
+------------+---------+-------+

In [37]:
grader.check("q2bii")

q2bii results: All test cases passed!

<br/><br/>

### Question 2biii

Finally, write the query a third time. Do **NOT** use the `inducted_hof_ca` view, nor the `inducted_hof_ca_mat` materialized view, nor any common table expressions (CTEs), nor any subqueries.

**Note:**
- For this query, `year_id` refers to player's year of induction into the Hall of Fame.

In [38]:
%%sql --save query_2biii result_2biii <<
SELECT 
    cp.school_id,
    h.year_id, 
    COUNT(p.player_id) AS count 
FROM people AS p 
INNER JOIN hall_of_fame AS h ON p.player_id = h.player_id
INNER JOIN college_playing AS cp ON p.player_id = cp.player_id
INNER JOIN schools AS s ON cp.school_id = s.school_id 
WHERE h.inducted = 'Y'
AND s.school_state = 'CA'
GROUP BY cp.school_id, h.year_id
ORDER BY h.year_id ASC, cp.school_id ASC
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [39]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2biii = %sqlcmd snippets query_2biii
grading_util.save_results("result_2biii", query_2biii, result_2biii)
result_2biii

+------------+---------+-------+
| school_id  | year_id | count |
+------------+---------+-------+
|    ucla    |   1962  |   1   |
| stmarysca  |   1971  |   1   |
|  camerri   |   1990  |   1   |
|  cafrecc   |   1992  |   1   |
|    usc     |   1992  |   1   |
|  calpoly   |   2002  |   4   |
| sandiegost |   2007  |   3   |
|  capasad   |   2008  |   1   |
| sandiegost |   2010  |   2   |
|  calavco   |   2011  |   1   |
|    usc     |   2011  |   2   |
|    usc     |   2015  |   3   |
|  cacypre   |   2018  |   2   |
+------------+---------+-------+

In [40]:
grader.check("q2biii")

q2biii results: All test cases passed!

<br/><br/>

---

## Question 2c
Inspect the query plans for the three queries you wrote above by running the following cells.

In [41]:
# just run this cell
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_2bi}";

                                                                              QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=520.03..520.69 rows=33 width=20) (actual time=4.815..4.825 rows=13 loops=1)
   Group Key: inducted_hof_ca.year_id, inducted_hof_ca.school_id
   ->  Sort  (cost=520.03..520.11 rows=33 width=21) (actual time=4.809..4.813 rows=23 loops=1)
         Sort Key: inducted_hof_ca.year_id, inducted_hof_ca.school_id
         Sort Method: quicksort  Memory: 26kB
         ->  Subquery Scan on inducted_hof_ca  (cost=518.79..519.20 rows=33 width=21) (actual time=4.768..4.775 rows=23 loops=1)
               ->  Sort  (cost=518.79..518.87 rows=33 width=257) (actual time=4.767..4.771 rows=23 loops=1)
                     Sort Key: h.year_id, p.player_id
                     Sort Method: quicksort  Memory: 26kB
                     ->  Nested Loop  (cost=386.71..517.95 rows=33 width=257) (actual time=4.316..4.748 rows=23 loops=1)
                           Join Filter: ((h.player_id)::text = (p.player_id)::text)
                           ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=4.291..4.592 rows=23 loops=1)
                                 Hash Cond: ((h.player_id)::text = (cp.player_id)::text)
                                 ->  Seq Scan on hall_of_fame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.014..0.513 rows=323 loops=1)
                                       Filter: ((inducted)::text = 'Y'::text)
                                       Rows Removed by Filter: 3868
                                 ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=4.024..4.025 rows=2948 loops=1)
 (originally 1)  Memory Usage: 178kB   Buckets: 4096 (originally 2048)  Batches: 1
                                       ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.181..3.396 rows=2948 loops=1)
                                             Hash Cond: ((cp.school_id)::text = (s.school_id)::text)
                                             ->  Seq Scan on college_playing cp  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.011..1.091 rows=17350 loops=1)
                                             ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.149..0.150 rows=136 loops=1)
                                                   Buckets: 1024  Batches: 1  Memory Usage: 14kB
                                                   ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.009..0.123 rows=136 loops=1)
                                                         Filter: ((school_state)::text = 'CA'::text)
                                                         Rows Removed by Filter: 1071
                           ->  Index Only Scan using master_pkey on people p  (cost=0.29..0.32 rows=1 width=9) (actual time=0.006..0.006 rows=1 loops=23)
                                 Index Cond: (player_id = (cp.player_id)::text)
                                 Heap Fetches: 0
 Planning Time: 2.295 ms
 Execution Time: 4.969 ms
(31 rows)

In [42]:
# just run this cell
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_2bii}";

                                                          QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------
 Sort  (cost=23.67..24.17 rows=200 width=60) (actual time=0.053..0.054 rows=13 loops=1)
   Sort Key: year_id, school_id
   Sort Method: quicksort  Memory: 25kB
   ->  HashAggregate  (cost=14.03..16.02 rows=200 width=60) (actual time=0.019..0.022 rows=13 loops=1)
         Group Key: year_id, school_id
         Batches: 1  Memory Usage: 40kB
         ->  Seq Scan on inducted_hof_ca_mat  (cost=0.00..12.30 rows=230 width=90) (actual time=0.004..0.005 rows=23 loops=1)
 Planning Time: 0.262 ms
 Execution Time: 0.146 ms
(9 rows)

In [43]:
# just run this cell
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_2biii}";

                                                                        QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=518.79..519.45 rows=33 width=20) (actual time=4.601..4.625 rows=13 loops=1)
   Group Key: h.year_id, cp.school_id
   ->  Sort  (cost=518.79..518.87 rows=33 width=21) (actual time=4.596..4.600 rows=23 loops=1)
         Sort Key: h.year_id, cp.school_id
         Sort Method: quicksort  Memory: 26kB
         ->  Nested Loop  (cost=386.71..517.95 rows=33 width=21) (actual time=4.156..4.549 rows=23 loops=1)
               Join Filter: ((h.player_id)::text = (p.player_id)::text)
               ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=4.128..4.423 rows=23 loops=1)
                     Hash Cond: ((h.player_id)::text = (cp.player_id)::text)
                     ->  Seq Scan on hall_of_fame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.014..0.481 rows=323 loops=1)
                           Filter: ((inducted)::text = 'Y'::text)
                           Rows Removed by Filter: 3868
                     ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=3.893..3.894 rows=2948 loops=1)
                           Buckets: 4096 (originally 2048)  Batches: 1 (originally 1)  Memory Usage: 178kB
                           ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.181..3.265 rows=2948 loops=1)
                                 Hash Cond: ((cp.school_id)::text = (s.school_id)::text)
                                 ->  Seq Scan on college_playing cp  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.010..1.053 rows=17350 loops=1)
                                 ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.151..0.152 rows=136 loops=1)
                                       Buckets: 1024  Batches: 1  Memory Usage: 14kB
                                       ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.009..0.124 rows=136 loops=1)
                                             Filter: ((school_state)::text = 'CA'::text)
                                             Rows Removed by Filter: 1071
               ->  Index Only Scan using master_pkey on people p  (cost=0.29..0.32 rows=1 width=9) (actual time=0.005..0.005 rows=1 loops=23)
                     Index Cond: (player_id = (cp.player_id)::text)
                     Heap Fetches: 0
 Planning Time: 2.231 ms
 Execution Time: 4.755 ms
(27 rows)

Then, record the execution time and cost for each query.

In [44]:
with_view_cost = 520.69 
with_view_timing = 4.739
with_materialized_view_cost = 24.17
with_materialized_view_timing = 0.418
without_view_cost = 519.45
without_view_timing = 5.057

In [45]:
grader.check("q2c")

q2c results: All test cases passed!

<br/><br/>

---

## Question 2d

Given your findings from inspecting the query plans in this question, as well as your understanding of views and materialized views from lectures, discuss the takeaways of using views and materialized views.

### Question 2di

**Assign the variable `q2di` to a list of _ALL_ of the below statements that are true.**

A. Views will reduce the execution time and the cost of a query.<br/>
B. Views will reduce the execution time of a query, but not the cost.<br/>
C. Views will reduce the cost of a query, but not the execution time.<br/>
D. Materialized views reduce the execution time and the cost of a query.<br/>
E. Materialized views reduce the execution time, but not cost of a query.<br/>
F. Materialized views reduce the cost of a query, but not the execution time.<br/>
G. Materialized views will result in the same query plan as a query using views.<br/>
H. Materialized views and views take the same time to create.<br/>
I. Materialized views take less time to create than a view.<br/>
J. Materialized views take more time to create than a view.<br/>
    
**Note:** Your answer should have the format like this if you think A and B are both true: `q2di = ['A', 'B']`. The autograder is **case sensitive** but order should not matter.

In [46]:
q2di = ['D', 'J']

In [47]:
grader.check("q2di")

q2di results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 2dii

1. **Explain your answer** to the previous part (Question 2di) based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
2. If there were any options you did NOT select, **choose any one of them and explain why you did not select it.**

**Please answer in at most 5 sentences** and **explicitly state which answer option(s) you chose or didn't choose** in addition to your explanations. For example, you could write, "I chose (A) because..." or "I did NOT choose (B) because..."

I chose (D) because materialized views store computed resutlts we computed before hand, which reduced both execution time and cost for subsequent queries because we did not need to recompute them. I also chose (J) because materialized views take more time to create than regular views due to the computing overhead and storing the results. I did not choose (A) because regular views do not reduce execution time or cost because they simply saved queries that are executed. These outcomes are consistent with the explain analyze results.

<!-- END QUESTION -->

<br><br>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 3: Predicate Pushdown
In this question, we will explore the impact of predicates (i.e., filters) on a query's execution, particularly inspecting when the optimizer applies predicates.


## Question 3a

Recall the `inducted_hof_ca` view created in `Question 2`. Run `EXPLAIN ANALYZE` for a query that that gets all rows from the view, and record the execution time and cost.

In [48]:
%%sql
EXPLAIN ANALYZE SELECT * FROM inducted_hof_ca
;

'EXPLAIN ANALYZE SELECT * FROM inducted_hof_ca
' contains unsupported syntax. Falling back to parsing as a 'Command'.

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

24 rows affected.

+-----------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                      QUERY PLAN                                                                     |
+-----------------------------------------------------------------------------------------------------------------------------------------------------+
|                               Sort  (cost=528.21..528.30 rows=33 width=33) (actual time=4.400..4.404 rows=23 loops=1)                               |
|                                                            Sort Key: h.year_id, p.player_id                                                         |
|                                                          Sort Method: quicksort  Memory: 26kB                                                       |
|                           ->  Nested Loop  (cost=386.71..527.38 rows=33 width=33) (actual time=4.029..4.390 rows=23 loops=1)                        |
|                                                   Join Filter: ((h.player_id)::text = (p.player_id)::text)                                          |
|                               ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=4.010..4.286 rows=23 loops=1)                      |
|                                                      Hash Cond: ((h.player_id)::text = (cp.player_id)::text)                                        |
|                          ->  Seq Scan on hall_of_fame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.009..0.449 rows=323 loops=1)           |
|                                                                  Filter: ((inducted)::text = 'Y'::text)                                             |
|                                                                       Rows Removed by Filter: 3868                                                  |
|                                  ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=3.798..3.800 rows=2948 loops=1)                    |
|                                             Buckets: 4096 (originally 2048)  Batches: 1 (originally 1)  Memory Usage: 178kB                         |
|                                   ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.161..3.155 rows=2948 loops=1)               |
|                                                            Hash Cond: ((cp.school_id)::text = (s.school_id)::text)                                  |
|                           ->  Seq Scan on college_playing cp  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.003..0.975 rows=17350 loops=1) |
|                                           ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.151..0.152 rows=136 loops=1)                |
|                                                                    Buckets: 1024  Batches: 1  Memory Usage: 14kB                                    |
|                                      ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.010..0.129 rows=136 loops=1)     |
|                                                                        Filter: ((school_state)::text = 'CA'::text)                                  |
|                                                                                Rows Removed by Filter: 1071                                         |
|                  ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=21) (actual time=0.004..0.004 rows=1 loops=23)         |
|                                                       Index Cond: ((player_id)::text = (cp.player_id)::text)                                        |
|                                                               Planning Time: 1.604 ms                                                               |
|                                                               Execution Time: 4.445 ms                                                              |
+-----------------------------------------------------------------------------------------------------------------------------------------------------+

In [49]:
query_view_cost = 528.30
query_view_timing = 4.640

In [50]:
grader.check("q3a")

q3a results: All test cases passed!

<br><br>

---

## Question 3b

Now, run `EXPLAIN ANALYZE` on the same query as 3a, except now add a filter to only return rows from `inducted_hof_ca` where the year is after 2010. Inspect the query plan and record the execution time and cost.

In [51]:
%%sql
EXPLAIN ANALYZE 
SELECT * FROM inducted_hof_ca
WHERE year_id > 2010
;

'EXPLAIN ANALYZE
SELECT * FROM inducted_hof_ca
WHERE year_id > 2010
' contains unsupported syntax. Falling back to parsing as a 'Command'.

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

21 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                               QUERY PLAN                                                                               |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                         Sort  (cost=209.85..209.85 rows=2 width=33) (actual time=0.654..0.655 rows=8 loops=1)                                          |
|                                                                     Sort Key: h.year_id, p.player_id                                                                   |
|                                                                   Sort Method: quicksort  Memory: 25kB                                                                 |
|                                      ->  Nested Loop  (cost=0.85..209.84 rows=2 width=33) (actual time=0.374..0.629 rows=8 loops=1)                                    |
|                                                            Join Filter: ((h.player_id)::text = (p.player_id)::text)                                                    |
|                                         ->  Nested Loop  (cost=0.56..207.24 rows=6 width=30) (actual time=0.366..0.596 rows=8 loops=1)                                 |
|                                           ->  Nested Loop  (cost=0.29..190.63 rows=55 width=30) (actual time=0.359..0.502 rows=27 loops=1)                             |
|                                      ->  Seq Scan on hall_of_fame h  (cost=0.00..106.86 rows=21 width=13) (actual time=0.336..0.369 rows=31 loops=1)                   |
|                                                                  Filter: ((year_id > 2010) AND ((inducted)::text = 'Y'::text))                                         |
|                                                                                   Rows Removed by Filter: 4160                                                         |
|                     ->  Index Only Scan using college_playing_pkey on college_playing cp  (cost=0.29..3.96 rows=3 width=17) (actual time=0.004..0.004 rows=1 loops=31) |
|                                                                          Index Cond: (player_id = (h.player_id)::text)                                                 |
|                                                                                         Heap Fetches: 0                                                                |
|                             ->  Index Scan using schools_pkey on schools s  (cost=0.28..0.30 rows=1 width=8) (actual time=0.003..0.003 rows=0 loops=27)                |
|                                                                   Index Cond: ((school_id)::text = (cp.school_id)::text)                                               |
|                                                                        Filter: ((school_state)::text = 'CA'::text)                                                     |
|                                                                                 Rows Removed by Filter: 1                                                              |
|                           ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=21) (actual time=0.003..0.003 rows=1 loops=8)                    |
|                                                                Index Cond: ((player_id)::text = (cp.player_id)::text)                                                  |
|                                                                        Planning Time: 1.416 ms                                                                         |
|                                                                        Execution Time: 0.689 ms                                                                        |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [52]:
query_view_with_filter_cost = 209.85
query_view_with_filter_timing = 0.802

In [53]:
grader.check("q3b")

q3b results: All test cases passed!

<!-- BEGIN QUESTION -->

## Question 3c

Given your findings from inspecting the query plans of queries from Questions 3a and 3b, fill in the blank and **justify your answer**. Explain your answer based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results. Your response should be no longer than 3 sentences.

**Note:** Your answer should be formatted as follows if you think option A is true: `(A) because ...`

**Adding a filter ___ the cost.**
<br>
A. increased
<br>
B. decreased
<br>
C. did not change

(B) because it reduced the number of rows being processed. Without a filter the cost was 528.30 with a filter we saw cost reduce to 209.85.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 3d

Given your findings from inspecting the query plans of queries from Questions 3a and 3b, fill in the blank and **justify your answer**. Explain your answer based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results. Your response should be no longer than 3 sentences.

**Note:** Your answer should be formatted as follows if you think option A is true: `(A) because ...`

**Adding a filter ___ the execution time.**
<br>
A. increased
<br>
B. decreased
<br>
C. did not change

(B) because without filter, the time was 4.640 while with a filter the time was reduced to 0.802.

<!-- END QUESTION -->

<br><br>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 4: Join Approaches

In this question, we'll explore different join approaches (Nested Loop Join, Merge Join, Hash Join) and discuss how the query optimizer picks the best approach.

<br/><br/>

---

## Question 4a
Perform an inner join on the `people` and `college_playing` tables on the `player_id` column. Select all columns. (No need to run `EXPLAIN ANALYZE` here, we do it for you below.)

In [54]:
%%sql --save query_4a result_4a <<
SELECT * 
FROM people AS p
INNER JOIN college_playing AS cp
ON p.player_id = cp.player_id
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

In [55]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4a = %sqlcmd snippets query_4a
grading_util.save_results("result_4a", query_4a, result_4a);

display(result_4a.DataFrame().head(3))

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_4a}";

,player_id,birth_year,birth_month,birthday,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,height,bats,throws,debut,final_game,retro_id,bbref_id,player_id,school_id,year_id
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003

                                                         QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=861.83..1193.88 rows=17350 width=167) (actual time=7.186..15.896 rows=17350 loops=1)
   Hash Cond: ((cp.player_id)::text = (p.player_id)::text)
   ->  Seq Scan on college_playing cp  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.012..1.137 rows=17350 loops=1)
   ->  Hash  (cost=619.70..619.70 rows=19370 width=146) (actual time=7.008..7.010 rows=19370 loops=1)
         Buckets: 32768  Batches: 1  Memory Usage: 3633kB
         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.009..1.553 rows=19370 loops=1)
 Planning Time: 0.940 ms
 Execution Time: 16.510 ms
(8 rows)

If you haven't already, run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4a` to the correct letter choice above, e.g., `q4a = 'A'`.

In [56]:
q4a = 'C'

In [57]:
grader.check("q4a")

q4a results: All test cases passed!

<br><br>

---

## Question 4b

Perform the same query in Question 4a, but now also **sort the output by `player_id`**.

In [58]:
%%sql --save query_4b result_4b <<
SELECT * 
FROM people AS p 
INNER JOIN college_playing AS cp 
ON p.player_id = cp.player_id 
ORDER BY p.player_id ASC
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

In [59]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4b = %sqlcmd snippets query_4b
grading_util.save_results("result_4b", query_4b, result_4b);

display(result_4b.DataFrame().head(3))

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_4b}";

,player_id,birth_year,birth_month,birthday,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,height,bats,throws,debut,final_game,retro_id,bbref_id,player_id,school_id,year_id
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003

                                                                          QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------------
 Merge Join  (cost=0.57..1910.20 rows=17350 width=167) (actual time=0.034..14.010 rows=17350 loops=1)
   Merge Cond: ((p.player_id)::text = (cp.player_id)::text)
   ->  Index Scan using master_pkey on people p  (cost=0.29..1024.36 rows=19370 width=146) (actual time=0.013..3.013 rows=19368 loops=1)
   ->  Index Only Scan using college_playing_pkey on college_playing cp  (cost=0.29..620.54 rows=17350 width=21) (actual time=0.016..1.806 rows=17350 loops=1)
         Heap Fetches: 0
 Planning Time: 0.828 ms
 Execution Time: 14.612 ms
(7 rows)

If you haven't already, run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4b` to the correct letter choice above, e.g., `q4b = 'A'`.

In [60]:
q4b = 'B'

In [61]:
grader.check("q4b")

q4b results: All test cases passed!

<br><br>

---
## Question 4c
Write a query to retrieve all possible player pair permutations (e.g. `(Player 1, Player 2)` is treated as a different pairing from `(Player 2, Player 1)` because the order matters). Select all columns, but **limit to 1000 rows** to ensure your query doesn't take an exorbitant amount of time to run.

**Hint:** You can do this by performing an inner join of the `people` table on itself with an inequality condition.

In [62]:
%%sql --save query_4c result_4c <<
SELECT p1.*, p2.* 
FROM people AS p1 
INNER JOIN people AS p2 
ON p1.player_id <> p2.player_id
LIMIT 1000
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1000 rows affected.

In [63]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4c = %sqlcmd snippets query_4c
grading_util.save_results("result_4c", query_4c, result_4c);

display(result_4c.DataFrame().head(3))

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_4c}";

,player_id,birth_year,birth_month,birthday,birth_country,birth_state,birth_city,death_year,death_month,death_day,...,name_last,name_given,weight,height,bats,throws,debut,final_game,retro_id,bbref_id
0,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
1,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
2,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01

                                                           QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------
 Limit  (cost=0.00..15.00 rows=1000 width=292) (actual time=0.027..0.797 rows=1000 loops=1)
   ->  Nested Loop  (cost=0.00..5629241.33 rows=375177530 width=292) (actual time=0.026..0.739 rows=1000 loops=1)
         Join Filter: ((p1.player_id)::text <> (p2.player_id)::text)
         Rows Removed by Join Filter: 1
         ->  Seq Scan on people p1  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.011..0.012 rows=1 loops=1)
         ->  Materialize  (cost=0.00..716.55 rows=19370 width=146) (actual time=0.007..0.378 rows=1001 loops=1)
               ->  Seq Scan on people p2  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.001..0.081 rows=1001 loops=1)
 Planning Time: 0.640 ms
 Execution Time: 0.944 ms
(9 rows)

If you haven't already, run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4c` to the correct letter choice above, e.g., `q4c = 'A'`.

In [64]:
q4c = 'A'

In [65]:
grader.check("q4c")

q4c results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---
## Question 4d

Given your findings above, why did the query optimizer ultimately choose the specific join approach you found in each of the above three scenarios in Questions 4a, 4b, and 4c? Feel free to discuss the pros and cons of each join approach as well.

If you feel stuck, here are some things to consider: Does a non-equijoin constrain us to certain join approaches? What's an added benefit in regards to the output of merge join? How does table size affect which join is used?

**Note:**
- **Explain your answer** based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
- Restate your answer for each of the subparts. You should write no more than 5 sentences. Your answer should be formatted as follows: 
```
Q4a: (A) because ...
Q4b: (A) because ...
Q4c: (A) because ...
```

Q4a: (C) because the condition we had was a '='. Hash joins are efficient on large tables with indexed join keys
Q4b: (B) because merge join is more optimal when we have the order by statement. 
Q4c: (A) because nested loop is more optimal when we have the permutations.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 5: Indexes, Part 1

In Questions 5, 6, and 7, you will analyze how indexes impact query performance.

<br/>

---

## Question 5a

For each `player_id`, determine their average yearly `salary` (call this `average_salary`), the first year in which they played baseball professionally (call this `first_year`), the last year in which they played baseball professionally (call this `last_year`), and the total number of years they played baseball professionally (call this `num_years`).

Only include players that have batted in exactly 10 games in a given year (the number of games in which a player batted can be found in the `g_batting` column of the `appearances` table).

Your query should join the `salaries` and `appearances` table on all the common columns `year_id`, `team_id`, and `player_id`, so feel free to use a natural join. Your table header should look like this:

| player_id | average_salary | first_year | last_year | num_years |
| --- | --- | --- | --- | --- |

In [66]:
%%sql
select *
from appearances
limit 10;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

10 rows affected.

+---------+---------+-------+-----------+-------+----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
| year_id | team_id | lg_id | player_id | g_all | gs | g_batting | g_defense | g_p | g_c | g_1b | g_2b | g_3b | g_ss | g_lf | g_cf | g_rf | g_of | g_dh | g_ph | g_pr |
+---------+---------+-------+-----------+-------+----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
|   1871  |   TRO   |   NA  | abercda01 |   1   | 1  |     1     |     1     |  0  |  0  |  0   |  0   |  0   |  1   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
|   1871  |   RC1   |   NA  |  addybo01 |   25  | 25 |     25    |     25    |  0  |  0  |  0   |  22  |  0   |  3   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
|   1871  |   CL1   |   NA  | allisar01 |   29  | 29 |     29    |     29    |  0  |  0  |  0   |  2   |  0   |  0   |  0   |  29  |  0   |  29  |  0   |  0   |  0   |
|   1871  |   WS3   |   NA  | allisdo01 |   27  | 27 |     27    |     27    |  0  |  27 |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
|   1871  |   RC1   |   NA  | ansonca01 |   25  | 25 |     25    |     25    |  0  |  5  |  1   |  2   |  20  |  0   |  1   |  0   |  0   |  1   |  0   |  0   |  0   |
|   1871  |   FW1   |   NA  | armstbo01 |   12  | 12 |     12    |     12    |  0  |  0  |  0   |  0   |  0   |  0   |  0   |  11  |  1   |  12  |  0   |  0   |  0   |
|   1871  |   RC1   |   NA  | barkeal01 |   1   | 1  |     1     |     1     |  0  |  0  |  0   |  0   |  0   |  0   |  1   |  0   |  0   |  1   |  0   |  0   |  0   |
|   1871  |   BS1   |   NA  | barnero01 |   31  | 31 |     31    |     31    |  0  |  0  |  0   |  16  |  0   |  15  |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
|   1871  |   FW1   |   NA  | barrebi01 |   1   | 1  |     1     |     1     |  0  |  1  |  0   |  0   |  1   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |  0   |
|   1871  |   BS1   |   NA  | barrofr01 |   18  | 17 |     18    |     18    |  0  |  0  |  0   |  1   |  0   |  0   |  13  |  0   |  4   |  17  |  0   |  0   |  0   |
+---------+---------+-------+-----------+-------+----+-----------+-----------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+

In [67]:
%%sql --save query_5a result_5a <<
SELECT 
a.player_id, 
AVG(s.salary) AS average_salary, 
MIN(a.year_id) AS first_year, 
MAX(a.year_id) AS last_year, 
COUNT(DISTINCT a.year_id) AS num_years 
FROM appearances AS a 
JOIN salaries AS s
USING(player_id, year_id, team_id)
WHERE a.g_batting = 10
GROUP BY a.player_id
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

134 rows affected.

In [68]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_5a = %sqlcmd snippets query_5a
grading_util.save_results("result_5a", query_5a, result_5a);

display(result_5a.DataFrame().head(3))

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_5a}";

   player_id  average_salary  first_year  last_year  num_years
0  anderla02        240000.0        1986       1986          1
1  ashbyan01        109000.0        1992       1992          1
2  ayraubo01        125000.0        1993       1993          1

                                                                   QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=3563.48..3563.51 rows=1 width=33) (actual time=15.435..15.557 rows=134 loops=1)
   Group Key: a.player_id
   ->  Sort  (cost=3563.48..3563.49 rows=1 width=21) (actual time=15.353..15.361 rows=138 loops=1)
         Sort Key: a.player_id
         Sort Method: quicksort  Memory: 35kB
         ->  Hash Join  (cost=2896.07..3563.47 rows=1 width=21) (actual time=10.120..15.206 rows=138 loops=1)
               Hash Cond: (((s.player_id)::text = (a.player_id)::text) AND (s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=25) (actual time=0.011..1.604 rows=26428 loops=1)
               ->  Hash  (cost=2873.20..2873.20 rows=1307 width=17) (actual time=9.994..9.995 rows=1347 loops=1)
                     Buckets: 2048  Batches: 1  Memory Usage: 85kB
                     ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1307 width=17) (actual time=0.011..9.651 rows=1347 loops=1)
                           Filter: (g_batting = 10)
                           Rows Removed by Filter: 102909
 Planning Time: 1.171 ms
 Execution Time: 15.650 ms
(15 rows)

Inspect the query plan above and record the execution time and cost.

In [69]:
result_5a_cost = 3563.36
result_5a_timing = 15.931

In [70]:
grader.check("q5a")

q5a results: All test cases passed!

<br><br>

---
## Question 5b

Add an index with name `appearances_g_batting_idx` on the `g_batting` column of the `appearances` table.

In [71]:
%%sql
DROP INDEX IF EXISTS appearances_g_batting_idx;
CREATE INDEX appearances_g_batting_idx ON appearances (g_batting)
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Now, re-inspect the query plan of the query from `Question 5a` and record its execution time and cost.

In [72]:
# just run this cell
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_5a}";

                                                                           QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=2293.92..2293.95 rows=1 width=33) (actual time=7.256..7.379 rows=134 loops=1)
   Group Key: a.player_id
   ->  Sort  (cost=2293.92..2293.93 rows=1 width=21) (actual time=7.209..7.218 rows=138 loops=1)
         Sort Key: a.player_id
         Sort Method: quicksort  Memory: 35kB
         ->  Hash Join  (cost=1626.51..2293.91 rows=1 width=21) (actual time=2.104..7.071 rows=138 loops=1)
               Hash Cond: (((s.player_id)::text = (a.player_id)::text) AND (s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=25) (actual time=0.008..1.573 rows=26428 loops=1)
               ->  Hash  (cost=1603.64..1603.64 rows=1307 width=17) (actual time=1.984..1.985 rows=1347 loops=1)
                     Buckets: 2048  Batches: 1  Memory Usage: 85kB
                     ->  Bitmap Heap Scan on appearances a  (cost=18.42..1603.64 rows=1307 width=17) (actual time=0.270..1.690 rows=1347 loops=1)
                           Recheck Cond: (g_batting = 10)
                           Heap Blocks: exact=899
                           ->  Bitmap Index Scan on appearances_g_batting_idx  (cost=0.00..18.10 rows=1307 width=0) (actual time=0.167..0.167 rows=1347 loops=1)
                                 Index Cond: (g_batting = 10)
 Planning Time: 1.227 ms
 Execution Time: 7.501 ms
(17 rows)

In [73]:
result_5b_cost = 2292.03
result_5b_timing = 7.741

In [74]:
grader.check("q5b")

q5b results: All test cases passed!

<br><br>

---
## Question 5c

Write a query to add an index with name `salary_idx` on the `salary` column of the `salaries` table. Make sure to drop the previous index in Question 5b first (which we've provided in the starter code)!

In [75]:
%%sql
DROP INDEX IF EXISTS appearances_g_batting_idx;
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON salaries (salary)

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Now, re-inspect the query plan of the query from Question 5a and record its execution time and cost.

In [76]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_5a}}

'EXPLAIN ANALYZE SELECT
a.player_id,
AVG(s.salary) AS average_salary,
MIN(a.year_id) AS first_year,
M' contains unsupported syntax. Falling back to parsing as a 'Command'.

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

15 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                   QUERY PLAN                                                                   |
+------------------------------------------------------------------------------------------------------------------------------------------------+
|                     GroupAggregate  (cost=3563.48..3563.51 rows=1 width=33) (actual time=14.297..14.418 rows=134 loops=1)                      |
|                                                              Group Key: a.player_id                                                            |
|                         ->  Sort  (cost=3563.48..3563.49 rows=1 width=21) (actual time=14.279..14.287 rows=138 loops=1)                        |
|                                                                 Sort Key: a.player_id                                                          |
|                                                          Sort Method: quicksort  Memory: 35kB                                                  |
|                          ->  Hash Join  (cost=2896.07..3563.47 rows=1 width=21) (actual time=9.161..14.173 rows=138 loops=1)                   |
|               Hash Cond: (((s.player_id)::text = (a.player_id)::text) AND (s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text)) |
|                      ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=25) (actual time=0.005..1.508 rows=26428 loops=1)         |
|                              ->  Hash  (cost=2873.20..2873.20 rows=1307 width=17) (actual time=9.043..9.044 rows=1347 loops=1)                 |
|                                                           Buckets: 2048  Batches: 1  Memory Usage: 85kB                                        |
|                        ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1307 width=17) (actual time=0.006..8.766 rows=1347 loops=1)     |
|                                                                         Filter: (g_batting = 10)                                               |
|                                                                      Rows Removed by Filter: 102909                                            |
|                                                            Planning Time: 1.060 ms                                                             |
|                                                           Execution Time: 14.462 ms                                                            |
+------------------------------------------------------------------------------------------------------------------------------------------------+

In [77]:
result_5c_cost = 3563.39
result_5c_timing = 15.266

In [78]:
grader.check("q5c")

q5c results: All test cases passed!

<br><br>

---

## Question 5d

Given your findings from inspecting the query plans with no indexes (Question 5a), an index on `g_batting` (Question 5b), and an index on `salary` (Question 5c), assign the variable `q5d` to a list of **ALL** of the below statements that are true.

A. Adding the `appearances_g_batting` index did not have a significant impact on the query execution time and cost.<br/>
B. Adding the `appearances_g_batting` index did have a significant impact on the query execution time, but not the cost.<br/>
C. Adding the `appearances_g_batting` index did have a significant impact on the query cost, but not the execution time.<br/>
D. Adding the `appearances_g_batting` index did have a significant impact on the query cost and execution time.<br/>
E. Adding the `salary_idx` index did not have a significant impact on the query execution time and cost.<br/>
F. Adding the `salary_idx` index did have a significant impact on the query execution time, but not the cost.<br/>
G. Adding the `salary_idx` index did have a significant impact on the query cost, but not the execution time.<br/>
H. Adding the `salary_idx` index did have a significant impact on the query cost and execution time.

**Note:** Your answer should have the format like this if you think A and B are both true: `q5b = ['A', 'B']`. The autograder is **case sensitive** but order should not matter.

In [79]:
q5d = ['D', 'E']

In [80]:
grader.check("q5d")

q5d results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 5di Justification

1. **Explain your answer to Question 5d** above based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
2. If there were any options you did NOT select, **choose any one of them and explain why you did not select it.**

Your answer should be **no longer than 3 sentences.** **Explicitly state which answer option(s) you chose or didn't choose** in addition to your explanations. For example, you could write, "I chose (A) because..." or "I did NOT choose (B) because..."

I chose (D) because the appearances_g_batting index reduced both the cost and execution time, which is consistent with the explain analyze output. I chose (E) because the salary_idx did not reduce the cost and execution time. I did not choose (F) because from the explain analyze for the salary_idx we can see that the cost did not reduce while it did for the appearances_g_batting index from beforehand.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 6: Indexes, Part 2

Continue the analysis on how indexes impact query peformance.

Before continuing, make sure to drop all existing indexes from previous questions.

In [81]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS appearances_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

<br><br>

---

## Question 6a

### Question 6ai

Write a query that finds the `player_id`, `year_id`, and `salary` for each player that had played 10 games **and** batted in 10 games (the number of games in which a player played can be found in the `g_all` column of the `appearances` table and the number of games in which a player batted can be found in the `g_batting` column of the `appearances` table). Your query should join the `salaries` and `appearances` table on all the common columns `year_id`, `team_id`, and `player_id`, so feel free to use a natural join.

Your table header should look like this:

| player_id | year_id | salary |
| --- | --- | --- |

4. Finally, record the **cost** and **time** for the sample query. For all questions within this project, we will accept a range of values for your query costs and query timings.

In [119]:
%%sql --save query_6ai result_6ai <<
SELECT s.player_id, s.year_id, s.salary
FROM salaries AS s
JOIN appearances AS a
ON s.player_id = a.player_id
AND s.year_id = a.year_id
AND s.team_id = a.team_id
WHERE a.g_all = 10
AND a.g_batting = 10;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

120 rows affected.

In [120]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_6ai = %sqlcmd snippets query_6ai
grading_util.save_results("result_6ai", query_6ai, result_6ai);

result_6ai.DataFrame().head(3)

   player_id  year_id    salary
0  wiggial01     1985  512500.0
1  anderla02     1986  240000.0
2   lakest01     1986   60000.0

In [121]:
grader.check("q6ai")

q6ai results: All test cases passed!

### Question 6aii

Inspect the query plan and record the execution time and cost.

In [122]:
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_6ai}";

                                                             QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..3301.99 rows=1 width=21) (actual time=6.890..13.106 rows=120 loops=1)
   ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=20 width=17) (actual time=0.015..9.972 rows=1289 loops=1)
         Filter: ((g_all = 10) AND (g_batting = 10))
         Rows Removed by Filter: 102967
   ->  Index Scan using salaries_pkey on salaries s  (cost=0.29..8.40 rows=1 width=25) (actual time=0.002..0.002 rows=0 loops=1289)
         Index Cond: ((year_id = a.year_id) AND ((team_id)::text = (a.team_id)::text) AND ((player_id)::text = (a.player_id)::text))
 Planning Time: 1.325 ms
 Execution Time: 13.158 ms
(8 rows)

In [123]:
result_6aii_cost = 3301.99
result_6aii_timing = 13.158

In [124]:
grader.check("6aii")

6aii results: All test cases passed!

## Question 6b

### Question 6bi

Write a query that finds the `player_id`, `year_id`, and `salary` for each player that had played 10 games __or__ batted in 10 games. Please use a natural join to join the `salaries` and `appearances` table on all the common columns `year_id`, `team_id`, and `player_id`.

Your table header should look like this:

| player_id | year_id | salary |
| --- | --- | --- |

In [125]:
%%sql --save query_6bi result_6bi <<
SELECT s.player_id, s.year_id, s.salary
FROM salaries AS s
NATURAL JOIN appearances AS a
WHERE a.g_all = 10 OR a.g_batting = 10
GROUP BY s.player_id, s.year_id, s.salary;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

216 rows affected.

In [126]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_6bi = %sqlcmd snippets query_6bi
grading_util.save_results("result_6bi", query_6bi, result_6bi);
result_6bi.DataFrame().head(3)

   player_id  year_id    salary
0  abbotpa01     2004  600000.0
1  aceveal01     2010  435650.0
2  almanca01     2001  270000.0

In [127]:
grader.check("q6bi")

q6bi results: All test cases passed!

### Question 6bii

Inspect the query plan and record the execution time and cost.

In [230]:
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_6bi}";

                                                                                       QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Group  (cost=5435.40..5435.41 rows=1 width=20) (actual time=20.519..20.563 rows=216 loops=1)
   Group Key: s.player_id, s.year_id, s.salary
   ->  Sort  (cost=5435.40..5435.41 rows=1 width=20) (actual time=20.516..20.527 rows=216 loops=1)
         Sort Key: s.player_id, s.year_id, s.salary
         Sort Method: quicksort  Memory: 41kB
         ->  Merge Join  (cost=3319.44..5435.39 rows=1 width=20) (actual time=12.495..20.324 rows=216 loops=1)
               Merge Cond: ((s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text) AND ((s.lg_id)::text = (a.lg_id)::text) AND ((s.player_id)::text = (a.player_id)::text))
               ->  Index Scan using salaries_pkey on salaries s  (cost=0.42..23391.97 rows=326428 width=27) (actual time=0.024..5.001 rows=26429 loops=1)
               ->  Sort  (cost=3297.90..3305.05 rows=2858 width=20) (actual time=12.078..12.178 rows=1655 loops=1)
                     Sort Key: a.year_id, a.team_id, a.lg_id, a.player_id
                     Sort Method: quicksort  Memory: 178kB
                     ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=2858 width=20) (actual time=0.012..10.760 rows=1655 loops=1)
                           Filter: ((g_all = 10) OR (g_batting = 10))
                           Rows Removed by Filter: 102601
 Planning Time: 0.981 ms
 Execution Time: 20.733 ms
(16 rows)

In [231]:
result_6bii_cost = 3927.80
result_6bii_timing = 17.999

In [232]:
grader.check("6bii")

6bii results: All test cases passed!

## Question 6c
Now, let's see the impact of adding an index on the `g_batting` column. Create an index on the `g_batting` column. Re-inspect the queries from `Question 6a` and `Question 6b` and record the respective execution costs and times.

In [233]:
%%sql
DROP INDEX IF EXISTS appearances_g_batting_idx;
CREATE INDEX appearances_g_batting_idx ON appearances(g_batting)

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [234]:
# record the updated costs for Question 6a ("and" query)
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_6ai}";

                                                                  QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=18.52..1926.19 rows=1 width=20) (actual time=2.423..5.274 rows=120 loops=1)
   ->  Bitmap Heap Scan on appearances a  (cost=18.10..1606.59 rows=20 width=17) (actual time=0.346..1.871 rows=1289 loops=1)
         Recheck Cond: (g_batting = 10)
         Filter: (g_all = 10)
         Rows Removed by Filter: 58
         Heap Blocks: exact=899
         ->  Bitmap Index Scan on appearances_g_batting_idx  (cost=0.00..18.10 rows=1307 width=0) (actual time=0.202..0.203 rows=1347 loops=1)
               Index Cond: (g_batting = 10)
   ->  Index Scan using salaries_pkey on salaries s  (cost=0.42..15.97 rows=1 width=24) (actual time=0.002..0.002 rows=0 loops=1289)
         Index Cond: ((year_id = a.year_id) AND ((team_id)::text = (a.team_id)::text) AND ((player_id)::text = (a.player_id)::text))
 Planning Time: 1.158 ms
 Execution Time: 5.345 ms
(12 rows)

In [235]:
result_6c_and_index_cost = 1926.19
result_6c_and_index_timing = 5.315

In [236]:
# record the updated costs for Question 6b ("or" query)
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_6bi}";

                                                                                       QUERY PLAN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Group  (cost=5435.40..5435.41 rows=1 width=20) (actual time=20.013..20.057 rows=216 loops=1)
   Group Key: s.player_id, s.year_id, s.salary
   ->  Sort  (cost=5435.40..5435.41 rows=1 width=20) (actual time=20.011..20.021 rows=216 loops=1)
         Sort Key: s.player_id, s.year_id, s.salary
         Sort Method: quicksort  Memory: 41kB
         ->  Merge Join  (cost=3319.44..5435.39 rows=1 width=20) (actual time=11.992..19.810 rows=216 loops=1)
               Merge Cond: ((s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text) AND ((s.lg_id)::text = (a.lg_id)::text) AND ((s.player_id)::text = (a.player_id)::text))
               ->  Index Scan using salaries_pkey on salaries s  (cost=0.42..23391.97 rows=326428 width=27) (actual time=0.022..4.987 rows=26429 loops=1)
               ->  Sort  (cost=3297.90..3305.05 rows=2858 width=20) (actual time=11.703..11.779 rows=1655 loops=1)
                     Sort Key: a.year_id, a.team_id, a.lg_id, a.player_id
                     Sort Method: quicksort  Memory: 178kB
                     ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=2858 width=20) (actual time=0.013..10.571 rows=1655 loops=1)
                           Filter: ((g_all = 10) OR (g_batting = 10))
                           Rows Removed by Filter: 102601
 Planning Time: 1.022 ms
 Execution Time: 20.205 ms
(16 rows)

In [237]:
result_6c_or_index_cost = 3927.80
result_6c_or_index_timing = 17.967

In [238]:
grader.check("q6c")

q6c results: All test cases passed!

<br/><br/>

---

## Question 6d: Multiple-attribute index

Now, create a multiple column index on `g_batting` and `g_all` called `appearances_g_batting_all_idx` and record the query execution time and cost for the "or" command in `Question 6b`.

Before continuing, make sure to drop all existing indexes from previous questions.

In [ ]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS appearances_g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;

In [135]:
%%sql
DROP INDEX IF EXISTS appearances_g_batting_all_idx;
CREATE INDEX appearances_g_batting_all_idx ON appearances (g_batting, g_all);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [136]:
# record the updated costs for Question 6b ("or" query)
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_6bi}";

                                                                                       QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Group  (cost=3619.50..3619.51 rows=1 width=21) (actual time=9.771..9.814 rows=216 loops=1)
   Group Key: s.player_id, s.year_id, s.salary
   ->  Sort  (cost=3619.50..3619.50 rows=1 width=21) (actual time=9.768..9.779 rows=216 loops=1)
         Sort Key: s.player_id, s.year_id, s.salary
         Sort Method: quicksort  Memory: 41kB
         ->  Hash Join  (cost=2882.71..3619.49 rows=1 width=21) (actual time=3.337..9.567 rows=216 loops=1)
               Hash Cond: ((s.year_id = a.year_id) AND ((s.team_id)::text = (a.team_id)::text) AND ((s.lg_id)::text = (a.lg_id)::text) AND ((s.player_id)::text = (a.player_id)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.015..1.689 rows=26428 loops=1)
               ->  Hash  (cost=2825.55..2825.55 rows=2858 width=20) (actual time=3.176..3.178 rows=1655 loops=1)
                     Buckets: 4096  Batches: 1  Memory Usage: 118kB
                     ->  Bitmap Heap Scan on appearances a  (cost=1181.74..2825.55 rows=2858 width=20) (actual time=1.190..2.752 rows=1655 loops=1)
                           Recheck Cond: ((g_all = 10) OR (g_batting = 10))
                           Heap Blocks: exact=1027
                           ->  BitmapOr  (cost=1181.74..1181.74 rows=2877 width=0) (actual time=1.059..1.060 rows=0 loops=1)
                                 ->  Bitmap Index Scan on appearances_g_batting_all_idx  (cost=0.00..1162.21 rows=1571 width=0) (actual time=1.011..1.011 rows=1597 loops=1)
                                       Index Cond: (g_all = 10)
                                 ->  Bitmap Index Scan on appearances_g_batting_all_idx  (cost=0.00..18.10 rows=1307 width=0) (actual time=0.047..0.048 rows=1347 loops=1)
                                       Index Cond: (g_batting = 10)
 Planning Time: 1.395 ms
 Execution Time: 9.922 ms
(20 rows)

In [137]:
result_6d_multiple_col_index_cost = 3619.51
result_6d_multiple_col_index_timing = 9.922

In [138]:
grader.check("q6d")

q6d results: All test cases passed!

<br/><br/>

---

## Question 6e
Given your findings from inspecting the query plans from all parts of this `Question 6`, assign the variable `q6e` to a list of **ALL** below statements that are true.

A. Adding an index on a column used in an `AND` predicate will reduce the query cost _but not_ the execution time.<br/>
B. Adding an index on a column used in an `AND` predicate will reduce the query cost _and_ the execution time.<br/>
C. Adding an index on a column used in an `OR` predicate will reduce the query cost _but not_ the execution time.<br/>
D. Adding an index on a column used in an `OR` predicate will reduce the query cost _and_ the execution time.<br/>
E. Adding a multicolumn index on columns in an `OR` predicate will reduce the query cost _but not_ the execution time.<br/>
F. Adding a multicolumn index on columns in an `OR` predicate will reduce the query cost _and_ the execution time.

**Note:** Your answer should have the format like this if you think A and B are both true: `q6e = ['A', 'B']`. The autograder is **case sensitive** but order should not matter.

In [139]:
q6e = ['B', 'D', 'F']

In [140]:
grader.check("q6e")

q6e results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 6ei Justification

1. **Explain your answer to `Question 6e`** above based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
2. If there were any options you did NOT select, **choose any one of them and explain why you did not select it.**

Your answer should be **no longer than 3 sentences** and **explicitly state which answer option(s) you chose or didn't choose** in addition to your explanations. For example, you could write, "I chose (A) because..." or "I did NOT choose (B) because..."

I chose (B) because from the explain analyze we see that cost and execution time has gone down after indexing on a conjuction condition. I chose (D) because indexing on a column that is used in a disjunction condition also reduced the csot and execution time by using bitmap index scans. I chose (F) becuase using a multicolumn index on g_batting and g_all reduced cost and execution time by avoiding full table scans. I did not choose (A) becuase we saw that using a conjuction in the condition reduced the execution time by quickly filerting rows.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 7: Indexes and Aggregations, Part 3

Continue the analysis on how indexes impact query performance.

Before continuing, make sure to drop all existing indexes from previous questions.

In [141]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS appearances_g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS appearances_g_batting_all_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 7a

Write 2 queries, one that finds the minimum salary from the salary table `salaries` and one that finds the average. Inspect the queries' query plans and record their execution times and costs.

### Question 7ai

**Find the minimum salary.** Call this column `min_salary`.

Your table header should look like this:

| min_salary |
| --- |

In [142]:
%%sql --save query_7ai result_7ai <<
SELECT MIN(salary) AS min_salary 
FROM salaries;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1 rows affected.

In [143]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_7ai = %sqlcmd snippets query_7ai
grading_util.save_results("result_7ai", query_7ai, result_7ai);

display(result_7ai)

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_7ai}";

+------------+
| min_salary |
+------------+
|    0.0     |
+------------+

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=3.655..3.657 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.033..1.639 rows=26428 loops=1)
 Planning Time: 0.323 ms
 Execution Time: 3.738 ms
(4 rows)

In [144]:
result_7ai_query_cost = 525.35
result_7ai_query_timing = 3.738

In [145]:
grader.check("q7ai")

q7ai results: All test cases passed!

### Question 7aii

**Find the average salary.** Call this column `average_salary`.

Your table header should look like this:

| average_salary |
| --- |

In [146]:
%%sql --save query_7aii result_7aii <<
SELECT AVG(salary) AS average_salary 
FROM salaries
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1 rows affected.

In [147]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_7aii = %sqlcmd snippets query_7aii
grading_util.save_results("result_7aii", query_7aii, result_7aii);

display(result_7aii)

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_7aii}";

+-------------------+
|   average_salary  |
+-------------------+
| 2085634.053125473 |
+-------------------+

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=4.098..4.098 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.009..1.573 rows=26428 loops=1)
 Planning Time: 0.277 ms
 Execution Time: 4.153 ms
(4 rows)

In [149]:
result_7aii_query_cost = 525.36
result_7aii_query_timing = 4.153

In [150]:
grader.check("q7aii")

q7aii results: All test cases passed!

<br><br>

---
## Question 7b
Create an index on the `salary` column in the `salaries` table and re-inspect the query plans from the previous part and record the respective execution time and cost.

In [155]:
%%sql
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON salaries(salary);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [156]:
# record the updated costs for "min" query
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_7ai}";

                                                                  QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------
 Result  (cost=0.32..0.33 rows=1 width=8) (actual time=0.060..0.061 rows=1 loops=1)
   InitPlan 1 (returns $0)
     ->  Limit  (cost=0.29..0.32 rows=1 width=8) (actual time=0.058..0.058 rows=1 loops=1)
           ->  Index Only Scan using salary_idx on salaries  (cost=0.29..762.78 rows=26428 width=8) (actual time=0.057..0.057 rows=1 loops=1)
                 Index Cond: (salary IS NOT NULL)
                 Heap Fetches: 0
 Planning Time: 0.468 ms
 Execution Time: 0.104 ms
(8 rows)

In [157]:
result_7b_min_query_cost = 0.33
result_7b_min_query_timing = 0.094

In [158]:
# record the updated costs for "avg" query
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_7aii}";

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=4.572..4.573 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.010..1.700 rows=26428 loops=1)
 Planning Time: 0.437 ms
 Execution Time: 4.644 ms
(4 rows)

In [159]:
result_7b_avg_query_cost = 525.36
result_7b_avg_query_timing = 4.213

In [160]:
grader.check("q7b")

q7b results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 7c
Given your findings from `Question 7`, which of the following statements is true? **Select one.**

<br> A. An index on the column being aggregated in a query will always provide a performance enhancement.
<br> B. A query finding the `MIN(salary)` will always benefit from an index on salary, but a query finding `MAX(salary)` will not.
<br> C. A query finding the `COUNT(salary)` will always benefit from an index on salary, but a query finding `AVG(salary)` will not.
<br> D. Queries finding the `MIN(salary)` or `MAX(salary)` will always benefit from an index on salary, but queries finding `AVG(salary)` or `COUNT(salary)` will not.

**State and justify your answer.**

1. **Explain your answer** based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
2. **Of the answer options you did not select, choose any one of them and explain why that option is wrong.**

Your response should be no longer than 3 sentences.
 
**Note:** Your answer should be formatted as follows: `(A) because ...` and `Not (A) because ...`

I chose (D) because from above we can see the query using AVG did not reduce in cost and execution time since it must still scan all rows while MIN can use index to its advantage and only scan first or last entry. Not (A) because it is not true that indexing will always help reduce cost and time when operations require the entire dataset.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 8: Clustered Indexes
In this question, we will inspect the impact that clustering our data on an index can have on a query's performance.

Before continuing, make sure to drop all existing indexes from previous questions.

In [161]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS appearances_g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS appearances_g_batting_all_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 8a

### Question 8ai

Write a query that finds the `player_id`, `year_id`, `team_id`, and `ab` for all players whose `ab` was above 500. Inspect the query plan and record the execution time and cost. Your table header should look like this:

| player_id | year_id | team_id | ab |
| --- | --- | --- | --- |

Optional: AB, short for ["At bat"](https://en.wikipedia.org/wiki/At_bat), is a baseball player statistic.

In [170]:
%%sql --save query_8ai result_8ai <<
SELECT player_id, year_id, team_id, ab
FROM batting
WHERE ab > 500;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8839 rows affected.

In [171]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_8ai = %sqlcmd snippets query_8ai
grading_util.save_results("result_8ai", query_8ai, result_8ai);
result_8ai.DataFrame().head(3)

   player_id  year_id team_id   ab
0  dalryab01     1884     CHN  521
1  hornujo01     1884     BSN  518
2  ansonca01     1886     CHN  504

In [172]:
grader.check("q8ai")

q8ai results: All test cases passed!

### Question 8aii

Inspect the query plan and record the execution time and cost.

In [173]:
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_8ai}";

                                                 QUERY PLAN
------------------------------------------------------------------------------------------------------------
 Seq Scan on batting  (cost=0.00..2884.05 rows=8896 width=21) (actual time=0.207..12.644 rows=8839 loops=1)
   Filter: (ab > 500)
   Rows Removed by Filter: 95485
 Planning Time: 0.278 ms
 Execution Time: 12.971 ms
(5 rows)

In [174]:
result_8aii_cost = 2884.05
result_8aii_timing = 12.971

In [179]:
grader.check("8aii")

8aii results: All test cases passed!

<br><br>

---

## Question 8b

Cluster the `batting` table on its primary key (Hint: use the psql meta-command `\di` or `\d batting` to find out what name of the primary key is). We are able to directly cluster on the primary key (without first creating a separate index) because Postgres automatically creates an index for it.

Then, re-inspect the query plan for the query from `Question 8a` and record the execution time and cost.

In [183]:
%%sql
CLUSTER batting USING batting_pkey;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [184]:
# check the updated costs for query in Question 8a
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_8ai}";

                                                 QUERY PLAN
------------------------------------------------------------------------------------------------------------
 Seq Scan on batting  (cost=0.00..2878.05 rows=8896 width=21) (actual time=0.012..12.413 rows=8839 loops=1)
   Filter: (ab > 500)
   Rows Removed by Filter: 95485
 Planning Time: 0.372 ms
 Execution Time: 12.708 ms
(5 rows)

In [187]:
result_8b_cost = 2878.05
result_8b_timing = 12.708

In [188]:
grader.check("q8b")

q8b results: All test cases passed!

<br><br>

---

## Question 8c

Now, let's try clustering the table based on another index. Create an index on `ab` column called `ab_idx` in the `batting` table AND cluster the `batting` table with this new index. Now, re-inspect the query plan and record the execution time and cost.

In [189]:
%%sql --save query_8c result_8c <<
DROP INDEX IF EXISTS ab_idx;
CREATE INDEX ab_idx ON batting(ab)

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

In [190]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_8c = %sqlcmd snippets query_8c
grading_util.save_results("result_8c", query_8c, result_8c);

# check the updated costs for query in Question 8a
!psql -h localhost -d baseball -c "EXPLAIN ANALYZE {query_8ai}";

                                                      QUERY PLAN
----------------------------------------------------------------------------------------------------------------------
 Bitmap Heap Scan on batting  (cost=101.24..1786.44 rows=8896 width=21) (actual time=0.644..3.935 rows=8839 loops=1)
   Recheck Cond: (ab > 500)
   Heap Blocks: exact=1311
   ->  Bitmap Index Scan on ab_idx  (cost=0.00..99.01 rows=8896 width=0) (actual time=0.504..0.504 rows=8839 loops=1)
         Index Cond: (ab > 500)
 Planning Time: 0.417 ms
 Execution Time: 4.249 ms
(7 rows)

In [191]:
result_8c_cost = 1786.44
result_8c_timing = 4.249

In [192]:
grader.check("q8c")

q8c results: All test cases passed!

<br><br>

---

## Question 8d
Given your findings from inspecting the query plans from Questions 8a, 8b, and 8c, assign the variable `q8d` to a list of **ALL** statements that are true.

A. Clustering based on the `ab_idx` decreased the cost of the query.<br/>
B. Clustering based on the `ab_idx` increased the cost of the query.<br/>
C. Clustering based on the `ab_idx` increased the execution time of the query.<br/>
D. Clustering based on the `ab_idx` decreased the execution time of the query.<br/>
E. Clustering based on the `batting_pkey` decreased the cost of the query.<br/>
F. Clustering based on the `batting_pkey` increased the cost of the query.<br/>
G. Clustering based on the `batting_pkey` increased the execution time of the query.<br/>
H. Clustering based on the `batting_pkey` decreased the execution time of the query.<br/>
I. None of the above
    
**Note:** Your answer should have the format like this if you think A and B are both true: `q8d = ['A', 'B']`. The autograder is **case sensitive** but order should not matter.

In [193]:
q8d = ['A', 'D', 'E', 'H']

In [194]:
grader.check("q8d")

q8d results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

### Question 8di Justification

1. **Explain your answer to `Question 8d`** above based on your understanding both of the **theoretical aspects of query planning and optimization discussed in class**, as well as EXPLAIN ANALYZE results - but bear in mind that sometimes EXPLAIN ANALYZE results may be unpredictable/hard to explain (because of contention, caching, noise/randomness).
2. If there were any options you did NOT select, **choose any one of them and explain why you did not select it.**

Your answer should be **no longer than 3 sentences** and **explicitly state which answer option(s) you chose or didn't choose** in addition to your explanations. For example, you could write, "I chose (A) because..." or "I did NOT choose (B) because..."

I chose (A) because clustering on ab_idx reduced the query cost by using index scan instead of sequential scan. I chose (D) becuase the execution time reduced due to a decrease in I/O.I chose (E) and (H) as well because clustering on batting_pkey clustered rows and fewer disks were accessed, leading to optimized data access. I did no chose (B) becuase the query cost did not increase.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 9: Cost of Index Management
Until now, we have seen the positive potential impact that indexes can have on query performance, but remember in real world technologies/applications, we will be routinely receiving new data (and in large quantities) which would trigger regular updates to our tables. In this section, we will dive into the cost of managing the indexes that we create.

Before starting this question, be sure to delete any indexes by running the below cell.

In [195]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS appearances_g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS appearances_g_batting_all_idx;
%sql DROP INDEX IF EXISTS ab_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 9a

Record the time it takes to insert 300,000 rows into the `salaries` table when no additional index is configured.

Run the following cell to setup a column to track which rows we added as part of these inserts.

In [196]:
%sql ALTER TABLE salaries ADD added boolean DEFAULT False;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Next, run the provided update script and record the **wall time** (found in the 2nd line of output).

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of this subpart.

In [197]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (year_id, team_id, lg_id, player_id, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

CPU times: user 3.46 ms, sys: 982 µs, total: 4.45 ms
Wall time: 2.73 s

In [202]:
result_9a_timing = 2.73

In [203]:
grader.check("q9a")

q9a results: All test cases passed!

<br/><br/>

**Before moving onto the next question**,  delete all the rows that were added to the table from the update script.

In [204]:
%%sql
/* just run this cell */
DELETE FROM salaries
WHERE added = 'true';

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

300000 rows affected.

++
||
++
++

<br><br>

---

## Question 9b

Now, create an index on the `salary` column and record the **wall time** after executing the update script. Make sure to first run the previous cell to rollback any changes from the previous part!

In [206]:
%%sql
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON salaries(salary)

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of last subpart.

In [207]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (year_id, team_id, lg_id, player_id, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

CPU times: user 3.61 ms, sys: 991 µs, total: 4.61 ms
Wall time: 4.84 s

In [208]:
result_9b_timing = 4.84

In [209]:
grader.check("q9b")

q9b results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 9c
What difference did you notice when you added an index into the salaries table and re-timed the update? Why do you think it happened? Your answer should be no longer than 3 sentences.

After adding an index on salary, in this case it seems that the operations were slower perhaps due to the overhead managing of the index when it was inserted.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 10: Project Takeaways

In this project, we explored how the database system optimizes query execution and how users can futher tune the performance of their queries.

Familiarizing yourself with these optimization and tuning methods will make you a better data engineer. In this question, we'll ask you to recall and summarize these concepts. Who knows? Maybe one day it will help you during an interview or on a project.

In the following answer cell,
1. Name 3 non-trivial, **distinctly different** methods to optimize query performance that you learned in this project. Some places to start looking are some of the question topics.
2. For each method, summarize how and why it can optimize query performance. Feel free to discuss any drawbacks, if applicable.

Your entire answer should be no longer than ten sentences. Each method identification/discussion is 2 points.

1) I learned about indexing, clustering, and aggregations.
2) Indexing was the most prevalent and effective ways to optimize the query performance in most of the problems. Creating an index on a column can reduce cost and execution time in most scenarios, in some cases it does not due to the overhead that comes with updates if they are made. Clusering a table based on an index was another way to improve performance by physcially reorganizing the data which minimized disk I/O during the sequential scans. The downside is the reordering of the table which is time consuming and uses up resources. Aggregation was one that was not obvious initially until we saw that indexing on columns that are involved in aggregations can speed up the process of computations by quickly finding the relevant data needed. However, in the example we saw the index on average calculation did not result in a performance boost becuase of the heavy task that was needed to scan the entire data set to retrieve a full aggregation. While it may work for operations like Min or Max, it might not always yield better performance depending on the function being called.

<!-- END QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Congratulations! You have finished Project 2.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

**Please save your notebook before exporting (this is a good time to do it!)** Otherwise, we may not be able to export your written responses to `proj2.pdf`. We will not be accepting regrade requests for failure to render written responses.

**For your submission on Gradescope, you will only need to submit the single `proj2.zip` file generated by the export cell.** Please ensure that your submission `proj2.zip` file includes `proj2.pdf`, `proj2.ipynb`, and `results.zip`. 

**Please ensure that public tests pass upon submission.** It is your responsibility to wait until the autograder finishes running. We will not be accepting regrade requests for submission issues.

**Common submission issues:** You MUST submit the generated zip file to the autograder. However, Safari is known to automatically unzip files upon downloading. You can fix this by going into Safari preferences, and deselect the box with the text "Open safe files after downloading" under the "General" tab. If you experience issues with downloading via clicking on the link, you can also navigate to the project 2 directory within JupyterHub (remove `proj2.ipynb` from the url), and manually download the generated zip files. Please post on Ed if you encounter any other submission issues.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

In [210]:
grading_util.prepare_submission_and_cleanup()

In [211]:
# Close SQL magic connection
# You may disregard "RunTimeError: Could not close connection"
# %sql --close postgresql://127.0.0.1:5432/baseball

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [212]:
grader.check_all()

6aii results: All test cases passed!

6bii results: All test cases passed!

8aii results: All test cases passed!

q0 results: All test cases passed!

q1a results: All test cases passed!

q1bi results: All test cases passed!

q1bii results: All test cases passed!

q2a results: All test cases passed!

q2bi results: All test cases passed!

q2bii results: All test cases passed!

q2biii results: All test cases passed!

q2c results: All test cases passed!

q2di results: All test cases passed!

q3a results: All test cases passed!

q3b results: All test cases passed!

q4a results: All test cases passed!

q4b results: All test cases passed!

q4c results: All test cases passed!

q5a results: All test cases passed!

q5b results: All test cases passed!

q5c results: All test cases passed!

q5d results: All test cases passed!

q6ai results: All test cases passed!

q6bi results: All test cases passed!

q6c results:
    q6c - 1 result:
        ❌ Test case failed
        Trying:
            0 <= result_6c_and_index_cost <= 10000
        Expecting:
            True
        **********************************************************************
        Line 1, in q6c 0
        Failed example:
            0 <= result_6c_and_index_cost <= 10000
        Expected:
            True
        Got:
            False

    q6c - 2 result:
        ✅ Test case passed

    q6c - 3 result:
        ❌ Test case failed
        Trying:
            0 <= result_6c_or_index_cost <= 10000
        Expecting:
            True
        **********************************************************************
        Line 1, in q6c 2
        Failed example:
            0 <= result_6c_or_index_cost <= 10000
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/envs/notebook/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q6c 2[0]>", line 1, in <module>
                0 <= result_6c_or_index_cost <= 10000
                     ^^^^^^^^^^^^^^^^^^^^^^^
            NameError: name 'result_6c_or_index_cost' is not defined

    q6c - 4 result:
        ❌ Test case failed
        Trying:
            0 <= result_6c_or_index_timing <= 10000
        Expecting:
            True
        **********************************************************************
        Line 1, in q6c 3
        Failed example:
            0 <= result_6c_or_index_timing <= 10000
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/envs/notebook/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q6c 3[0]>", line 1, in <module>
                0 <= result_6c_or_index_timing <= 10000
                     ^^^^^^^^^^^^^^^^^^^^^^^^^
            NameError: name 'result_6c_or_index_timing' is not defined

q6d results: All test cases passed!

q6e results: All test cases passed!

q7ai results: All test cases passed!

q7aii results: All test cases passed!

q7b results: All test cases passed!

q8ai results: All test cases passed!

q8b results: All test cases passed!

q8c results: All test cases passed!

q8d results: All test cases passed!

q9a results: All test cases passed!

q9b results: All test cases passed!

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(files=['results.zip'])